<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>maxParticles</key>
    <integer>400</integer>
    <key>particleLifespan</key>
    <real>0.2</real>
    <key>particleLifespanVariance</key>
    <real>0.1</real>
    <key>duration</key>
    <real>0.05</real>
    <key>interval</key>
    <integer>20</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>startColorRed</key>
    <real>0.8862745098039215</real>
    <key>startColorGreen</key>
    <real>0.10196078431372549</real>
    <key>startColorBlue</key>
    <real>0.10196078431372549</real>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>endColorAlpha</key>
    <integer>1</integer>
    <key>endColorBlue</key>
    <integer>0</integer>
    <key>endColorRed</key>
    <integer>0</integer>
    <key>endColorGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceAlpha</key>
    <integer>1</integer>
    <key>finishColorRed</key>
    <integer>0</integer>
    <key>finishColorGreen</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>1</integer>
    <key>startParticleSize</key>
    <integer>80</integer>
    <key>startParticleSizeVariance</key>
    <integer>10</integer>
    <key>finishParticleSize</key>
    <integer>-1</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>0</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>angle</key>
    <integer>180</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>-10</integer>
    <key>gravityy</key>
    <integer>420</integer>
    <key>speed</key>
    <integer>300</integer>
    <key>speedVariance</key>
    <integer>20</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>-700</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>rotationIsDir</key>
    <false/>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>positionType</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <integer>2000</integer>
    <key>spriteFrameUuid</key>
    <string>32503db9-e8fd-4d86-9bbe-48916268251a@f9941</string>
  </dict>
</plist>